@page "/ServiceBox"

<h3>ServiceBox</h3>
<section id="services">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                 
                                                <h2 class="section-heading text-green"> Services Available</h2>
                                          
                                                <h2 class="section-heading text-green"> Please Sign In To See Available Services</h2>
                                     
                                    </div>
                                </div>
                            </div>
                            <div class="container">

                                
                                <div class="row">


                                    <br /><br />


                               
                                        
                                            <div class="col-lg-3 col-sm-6 text-center table-hover">
                                                <div class="service-box" onclick="location.href='/Reports';return false;">
                                                    <i class="fa fa-4x fa-address-book text-green-darker sr-icons text-green"></i>
                                                    <h3>Generate Reports</h3>
                                                    <p class="text-green">Generate an Access Report</p>
                                                </div>
                                  
 
 
           

                    <div class="col-lg-3 col-sm-6 text-center">
                        <div class="service-box" onclick="location.href='/Modify';return false;">
                            <i class="fa fa-4x fa-users-cog text-green-darker sr-icons text-green"></i>
                            <h3>Modify Access</h3>
                            <p class="text-green">Modify Access</p>
                        </div>
                    </div>

                                 
                                    <div class="col-lg-3 col-sm-6 text-center">
                                      
                                        <div class="service-box" >
                                            <i class="fa fa-4x fa-user-plus text-green-darker sr-icons text-green"></i>
                                            <h3>Add User</h3>
                                            <p class="text-green">Add New User</p>
                                        </div>
                                    </div>
                                




                                            <div class="col-lg-3 col-sm-6 text-center">
                                                <div class="service-box" onclick="location.href='/ComingSoon';return false;">
                                                    <i class="fa fa-4x fa-user-times text-green-darker sr-icons text-green"></i>
                                                    <h3>Remove User</h3>
                                                    <p class="text-green">Deprovision User</p>
                                                </div>
                                            </div>

                                       

                                   

                                </div>
                            </div>
                            </div>
                        </section>
@code {

}
